<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Contact Book</title>
  </head>
  <body>
    {% block body %}
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
       <ul class="flashes">
         {% for category, message in messages %}
         <li class="{{ category }}">{{ message }}</li>
         {% endfor %}
       </ul>
       {% endif %}
       {% endwith %}
    {% endblock %}
  </body>
</html>
